cv { 
    color: white; 
    background-color : gray; 
    width: 100%; 
} 
entete,situationActuelle,diplome,loisirs { 
    color: green; 
    font-size : 40px; 
    background-color : powderblue; 
} 
nom, prenom, ddn, nationalite, situationMaritale, permis,mail,web,preparation,cuisson,dificulte,annee,intitule,stage,titre,competence,langue,loisir { 
    display : block; 
} 
p{
    display: block;
}
pa{
    margin-left: 20px;
    display: inline;
}
pb{
    margin-top: 20px;
    display: block;
}
ingredients { 
    font-size : 25px; 
    font-weight : bold; 
} 